.card{
   /* background-color: brown; */
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    padding: 100px 30px;
}
.card>div:has(~ div:hover){
    filter: brightness(.7);
}

.card>div:hover ~ div{
    filter: brightness(.7);

}