.video-container{
    width: 80%;
    margin: 10vh 10%;
    height: auto;
    position: relative;
    margin-bottom: 150px;
}
.video-container::before,.video-container:after{
    content: '';
    position: absolute;
    width: clamp(100px,250px,40%);
    aspect-ratio: 1;
    border: 2px solid var(--gray-color);
  
}
.video-container::before{
    top: -20px;
    left: -20px;
    z-index: 10;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.video-container::after{
    bottom: -20px;
    right: -20px;
    z-index: 10;
    border-left-color: transparent;
    border-top-color: transparent;
}