.footer{
    width: 100%;
    padding:20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
li,a{
    text-decoration: none;
    color: var(--gray-color);
    list-style: none;
    display: inline-block;
    margin-inline: 5px;
}
li>a:hover{
    color: snow;
    
}

@media (max-width:760px){
    .footer{
        flex-direction: column;
        display: flex;
    }

    li,a{
    
 display: block;
 margin-bottom: 10px;   
    }
}