body {
  height: auto;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  margin: 0px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #050505; */
  background: url("https://images.pexels.com/photos/18372324/pexels-photo-18372324/free-photo-of-dark-grey-abstract-texture.jpeg");
background-size: contain;
background-repeat: repeat;
backdrop-filter: brightness(.2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}
:root{
  --gray-color:#999;
}
